@using EuroJudoWebContestSheets.Models.Tournament
@model EuroJudoWebContestSheets.Models.ViewModels.CategoriesViewModel

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@foreach(CategoryDto category in Model.Categories)
{
    <a href="/tournaments/ContestSheet?tId=@category.TournamentId&cId=@category.Id">@category.Name</a><br />
}