
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Category</h2>

@foreach(Category category in ViewBag.Categories)
{
    <a href="/tournaments/ContestSheet?tID=@category.TournamentID&cID=@category.ID">@category.CategoryName</a><br />
}