@using EuroJudoWebContestSheets.Models.Tournament
@model EuroJudoWebContestSheets.Models.ViewModels.TournamentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach(TournamentDto tournament in Model.Tournaments)
{
    <a href="/tournaments/Categories?tournamentId=@tournament.Id">@tournament.Name</a>
}