<div class="modal fade" tabindex="-1" role="dialog" id="attributionModal" aria-labelledby="attributionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Attribution</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>Schema by Annelies Drent</p>
                <p>Data coming from software by Nico van Dijk</p>
                <p>Software by Bas Janssen</p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>