@page
@{
    Layout = "../Shared/_Layout.cshtml";
}

<contest-order-app></contest-order-app>

<div class="fixed-bottom alert alert-warning disconnected-indicator" id="disconnected-indicator">
    <p class="text-center">Connection to server lost. Refresh the page to reconnect.</p>
</div>

<div class="overlay" id="overlay">
    <div class="loader"></div>
</div>

<div class="alert alert-info reconnect-indicator" id="reconnect-indicator">
    <p class="text-center">Attempting to reconnect.</p>
</div>

@section scripts
{
<script src="~/js/bundle-contest.js"></script>
}